* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

header {
  background-image: url(bg-image.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  height: 120vh;
  margin-bottom: 40px;
}

.logo {
  display: flex;
  margin: 20px;
}
.nav-bar {
  display: flex;
  margin-top: 20px;
  margin-right: 370px;

  > li a {
    text-decoration: none;
    margin: 20px;
    color: white;
  }
}

nav {
  display: flex;
  justify-content: space-around;
  margin-bottom: 150px;

  /* > ul {
    list-style: none;
  } */
}
.menu {
  display: flex;

  > ul {
    list-style: none;
    text-decoration: none;
  }
}
.navbar-end {
  display: flex;
  margin: 20px;

  > li a {
    text-decoration: none;
    margin-right: 20px;
    color: white;
  }
}
.button a button {
  border-radius: 20px;
  padding: 7px;
  background-image: url(bg-image.png);
  background-position: center;
  color: white;
  border: 1px solid white;
  margin-top: 15px;
  cursor: pointer;
}
.button {
  margin-left: -20px;
}

.heading-text1 {
  color: white;
  text-align: center;
}
h1 {
  font-size: 60px;
}

.heading-text2 {
  color: white;
  text-align: center;
  padding-bottom: 10px;
}

p {
  font-weight: lighter;
  font-size: 2px;
  color: white;
  text-align: center;
  margin-bottom: 30px;
}

.search-box {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  position: relative;
  border: 1px solid white;
  border-radius: 20px;
  margin: 0 auto;
  width: 400px;
  background-color: white;
  margin-bottom: 60px;

  > input {
    padding: 20px;
    border-radius: 20px;
    border: none;
    width: 350px;
    outline: none;
  }
}
.material-symbols-outlined {
  top: 8px;
  color: black;
  position: absolute;
  z-index: 1;
  left: 14px;
  margin: 0 auto;
  padding-top: 10px;
}

.search-box a {
  text-decoration: none;
}

.ball {
  height: 30px;
  width: 30px;
  background-color: tomato;

  border-radius: 50%;
  padding-top: 15px;
  padding-right: 5px;
  position: absolute;
  z-index: 1;
  right: 10px;
  margin-top: 15px;
  padding: 18px;
}

span i {
  /* height: 30px;
  width: 30px; */
  border-radius: 50%;
  padding-top: 25px;
  padding-right: 10px;
  position: absolute;
  z-index: 1;
  right: 10px;
  margin-top: 10px;
  color: white;
  margin: 0 auto;
}

.flex-4 {
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
  color: white;
}
.circle {
  border: 1px thin white;
  border-radius: 20px;
  padding: 10px;
  margin: 20px;

  background-color: rgba(225, 225, 225, 0.2);

  color: rgb(255, 255, 255);
}
.h3 {
  color: rgb(2, 2, 9);
}
.span-text {
  margin-left: 150px;
  margin-bottom: 20px;

  > span {
    color: rgb(182, 178, 178);
  }
}

.container {
  display: flex;
  justify-content: center;
}

.img img {
  width: 300px;
  border-radius: 10px;
}

.img figure figcaption {
  width: 250px;
  line-height: 1.3;
}

.img {
  border: 1px solid rgb(185, 181, 181);
  margin: 10px;
  border-radius: 10px;
  position: relative;
}

figcaption {
  margin-left: 10px;
  text-align: justify;
}

.ball-bar {
  height: 30px;
  width: 30px;

  background-color: white;
  border-radius: 50px;
  z-index: 1;
  position: absolute;
  /* bottom: 5px; */
  top: 198px;
  left: 250px;
}

#img-text {
  padding-top: 15px;
  padding-bottom: 10px;
  margin-left: 20px;
  font-size: -1px;
  font-weight: lighter;
  color: rgb(197, 196, 196);
}
figcaption a {
  text-decoration: none;
}
figcaption {
  padding-bottom: 5px;
}
span p {
  color: rgb(20, 1, 38);
}
.flex {
  display: flex;
  justify-content: space-between;
  /* border-top: 1px solid rgb(228, 228, 228); */
  padding-top: 20px;
  margin-left: 10px;
  margin-right: 15px;
  padding-left: 10px;
  padding-right: 10px;
}

.pyramid {
  background-image: url(pyramid.png);
  background-repeat: no-repeat;
  width: 320px;
  height: 220px;
  background-position: center;
  background-size: cover;
  border-radius: 5px;
  margin-right: 20px;

  > p {
    width: 300px;
    padding-top: 20px;
    color: rgb(234, 234, 234);
  }
  > h4 {
    margin-left: 20px;
    padding-bottom: 10px;
    color: white;
  }
}
.water {
  background-image: url(water.png);
  background-repeat: no-repeat;
  width: 320px;
  height: 220px;
  background-position: center;
  background-size: cover;
  border-radius: 5px;
  margin-right: 20px;

  > p {
    width: 300px;
    padding-top: 20px;
    color: rgb(234, 234, 234);
  }
  > h4 {
    margin-left: 20px;
    padding-bottom: 10px;
    color: white;
  }
}

.ocean-sky {
  background-image: url(ocean-sky.png);
  background-repeat: no-repeat;
  width: 320px;
  height: 230px;
  background-position: center;
  background-size: cover;
  border-radius: 5px;
  padding: 20px;

  > p {
    /* padding-top: 10px; */
    color: rgb(234, 234, 234);
    text-align: justify;
  }
  > h4 {
    margin-left: 5px;
    padding-bottom: 10px;
    color: white;
    font-size: 20px;
  }
}

.cover {
  display: flex;
  justify-content: center;
  margin-top: 200px;
  margin-bottom: 70px;
}
.cover button {
  margin-top: 20px;
  width: 150px;
  height: 50px;
  border-radius: 10px;
  border-color: white;
  background-color: white;
  margin-left: 20px;
  outline: none;
}

.section {
  background-color: rgb(255, 233, 224);
  padding-top: 100px;
  padding-bottom: 40px;
  padding-left: 17em;

  > h4 {
    padding-bottom: 3px;
    font-size: 30px;
  }
}
.section > p {
  width: 380px;
  color: black;
  text-align: justify;
  line-height: 1.5;
}
.section button {
  width: 300px;
  height: 50px;
  border-radius: 5px;
  background-color: coral;
  border-color: coral;
  color: white;
  border: none;
}

.cta_p {
  font-size: 15px;
  width: 30%;
}

.cta_container {
  display: flex;
  background-color: rgb(255, 233, 224);
}

.icon_container {
  border: 1px solid rgb(228, 228, 228);
  background-color: white;
  padding: 20px;
  text-align: center;
}

.cta_tour {
  font-size: 13px;
  color: black;
  margin: 5px 0;
}

.icon {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  color: coral;
  background: rgba(235, 102, 43, 0.05);
  padding: 20px;
  border-radius: 50%; /* For a circular shape */
  /* Fine style shadow */
}

.icon_grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  margin-top: 10px;
}

.icon_section {
  margin: auto;
}

.trending {
  display: flex;
  justify-content: space-between;
  color: black;
}

.text {
  color: black;
  font-size: 15px;
}
.text1 {
  color: black;
  font-size: 23px;
  padding-left: 90px;
}

.trending_container {
  margin-right: 100px;
  margin-left: 100px;
  margin-top: 50px;
  margin-bottom: 50px;
}

.img_tour {
  width: 120px;
  height: 150px;
  border-radius: 10px;
}

.img-text {
  align-items: start;
  font-size: 15px;
  padding-top: 8px;
}

.text_tour {
  font-size: 13px;
  color: black;
  padding-top: 3px;
}

.img_grid {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 10px;
  margin-left: 90px;
}

.choose_tour {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(235, 102, 43, 0.05);
  margin-left: 110px;
  margin-right: 110px;
  border-radius: 20px;
  padding: 20px;
  margin-bottom: 20px;
}

.choose_text1 {
  font-size: 24px;
  font-weight: 800;
  width: 200px;
}

.choose_icon {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 28px;
  color: coral;
  padding: 14px;
}

.choose_text2 {
  font-size: 15px;
  padding-bottom: 10px;
  padding-top: 10px;
}

.choose_text3 {
  width: 350px;
}
.choose-img-container {
  border-radius: 20px;
  width: 400px;
  margin-left: 5%;
}
